.followingCard {
    margin-bottom: 1.5em;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    font-family: 'EB Garamond', serif;
    border: 2px black solid;
}

.followingCardContent {
    height: 150px;
}

.followPic {
    height: 128px;
    width: auto;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.followingCardPicture {
    padding: 1.5em;
}

.followingCardLocation,
.followingCardName {
    font-size: 1.75em;
    text-align: center;
    color: black;
    padding: 1.5em 0;
}

.followingCardFull {
    margin-top: 0;
}

.followingCardUsername {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .followingCardLocation {
        font-size: 1.25em;
        padding-top: 2.9em;
    }
    .followingCardName {
        font-size: 1.25em;
        padding-top: 2.6em;
    }
}

@media only screen and (max-width: 426px) {
    .followingCardLocation,
    .followingCardName {
        font-size: 1.75em;
        padding-top: 0;
    }
    .followingCardName {
        padding-bottom: 0;
    }
    .followingCardLocation {
        padding-bottom: .75em;
    }
    .followingCardOther {
        font-size: 5.5vw;
    }
}