.registerBackground {
    background-image: url('../../images/elevate-755020-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em 0;
}

.registerPanel {
    margin-bottom: 0;
}

.registerH1 {
    font-family: 'EB Garamond', serif;
}

.registerForm {
    margin-bottom: 2em;
}

.registerControlLabel {
    font-family: 'Montserrat', sans-serif;
}

.registerError {
    color: red;
}

.registerSubmit {
    margin-top: 1em;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    transition: .5s;
}