#success-button {
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}   

.success-panel {
    min-height: 400px;
}

.success-title {
    font-family: 'EB Garamond', serif;
    margin-top: 3em;
}

.success-h3 {
    font-family: 'Montserrat', sans-serif;
}