.landingBackground {
    background-image: url('../../images/adam-wilson-138927-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 93vh;
    min-height: 93vh;
}

.landingTitle {
    margin: 0 auto;
    padding-top: 1.75em;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: white;
    text-shadow: 2px 2px 10px #000;
    font-size: 5em;
}

.landingCatch {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: white;
    text-shadow: 2px 2px 10px #000;
    font-size: 3em;
}

.loginTitle {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.loginLabel {
    font-family: 'Montserrat', sans-serif;
}

.landingBtn {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.landingSubTitle {
    margin-top: 1.5em;
    font-family: 'EB Garamond', serif;
    font-size: 3em;
}

.landingHR {
    height: 2px;
    background-color: #000;
    background: linear-gradient(to right, #f5f5f5, #000, #f5f5f5)
}

.landingList {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}