.profileCardCard {
    width: 100%;
    font-family: 'EB Garamond', serif;
    text-shadow: 4px 4px 14px black;
    min-height: 300px;
}

.profileCardName {
    font-size: 3em;
    color: white;
    margin-top: .9em;
    margin-bottom: 0;
}

.profilePic {
    max-height: 200px;
    width: auto;
    max-width: 200px;
    border: solid white 6px;
    margin-top: 3em;
    background-color: white;
}

.profileCardText {
    margin-bottom: 0;
    font-size: 2.5em;
    color: white;
}

.profileCardCap {
    text-transform: capitalize;
}

.profileCardLocation {
    margin-top: 1em;
}

.profileFollow {
    font-weight: bold;
    margin-top: .25em;
    transition: .5s;
}

@media only screen and (max-width: 768px) {
    .profileCardText {
        font-size: 1.75em;
    }
    .profileCardLocation {
        margin-top: 1.5em;
    }
    .profileFollow {
        margin-top: .5em;
    }
}

@media only screen and (max-width: 426px) {
    .profileCardCard {
        min-height: 65vh;
    }
    .profileCardName {
        text-Align: center;
        margin-top: .5em;
    }
    .profilePic {
        margin-top: 1.75em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .profileCardHR {
        margin-bottom: 0;
    }
    .profileCardText {
        text-align: center;
    }
    .profileCardLocation {
        margin-top: .5em;
    }
}

@media only screen and (max-width: 376px) {
    .profileCardText {
        font-size: 1.5em;
    }
    .profileCardEmail {
        font-size: 1.2em;
    }
}