.profileCard_card{
    margin-top: 1%;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    font-family: 'EB Garamond', serif;
    text-shadow: 4px 4px 14px black;
}
.profileCard_content{
    height: 300px;
}
.pic{
    height: 200px;
    width: 200px;
    border: solid white 6px;
    margin-top: 8em;
}
.profileCard_picture, .profileCard_location, .profileCard_social{
    height: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.profileCard_location > div, .profileCard_social > div{
    height: 100%;
    margin-top: 2em;
    font-size: 35px;
    color: white;
}

