.profileCard_card{
    margin-top: 1%;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    font-family: 'EB Garamond', serif;
    text-shadow: 4px 4px 14px black;
}
.profileCard_content{
    height: 300px;
}
.pic{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
.profileCard_picture, .profileCard_location, .profileCard_social{
    height: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.profileCard_location > div{
    height: 50%;
    margin: 25% 0;
    font-size: 35px;
    color: white;
}
.profileCard_social > div {
    height: 50%;
    margin: 30% 0;
    color: white;
    font-size: 25px;
}
