.secondaryNav{
    font-family: 'Montserrat', sans-serif;
    margin: 2em 0;
    padding: 20px;
    width: 100%;
}
.secondaryNavRow{
    width: 80%;
    background: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.secondaryCols {
    text-align: center;
    color: white;
    width: 20%;
    font-size: 20px;
}

.secondaryColText{
    cursor: pointer;
}
a {
    color: rgb(104, 103, 103);
}
a:hover{
    color: black;
}
a, a:hover, a:active {
    text-decoration: none;
}

