.likesParallax {
    background-image: url('../../images/tim-bennett-607824-unsplash.jpg');
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.likesHeader {
    margin-top: 2.5em;
    font-family: 'EB Garamond', serif;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 10px #000;
}

.likesContainer {
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

.likesCol {
    padding: 0;
}
