.profileBackground {
    background-image: url("../../images/profilepic4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
}

.totalFollowerHeader, .totalFollowingHeader {
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 426px) {
    .profileBackground {
        height: 65vh;
    }
}