.followingParallax {
    background-image: url('./images/wil-stewart-24562-unsplash.jpg');
    /* background-image: url('../../../public/images/tim-bennett-607824-unsplash.jpg'); */
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* overflow not working */
    /* overflow: hidden; */
    /* margin: -10px; */
    /* left: -10px;
    top: -10px; */
}

.followingHeader {
    margin-top: 2.5em;
    font-family: 'EB Garamond', serif;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 10px #000;
}

.followingContainer {
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

.followingCol {
    padding: 0;
}
